@import "../../variables.styles.scss";
$menu-yellow: #ffe366;
.nav-menu {
  width: 100%;
  text-align: center;
  z-index: 2;
  height: 60px;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
  &.opened-hamburger {
    .menu-items {
      @media (max-width: $breakpoint-tablet) {
        display: block;
      }
    }
  }
  &.hamburger {
    top: 60px;
    position: fixed;
    height: revert;
    border-bottom-right-radius: 20px;
    width: 70%;
    &.opened-hamburger {
      background-color: rgba($color: #8c00ff, $alpha: 0.8);
      .hamburger-icon {
        span:first-child {
          position: relative;
          top: 12px;
          transform: rotate(135deg);
        }
        span:nth-child(2) {
          display: none;
        }
        span:last-child {
          transform: rotate(-135deg);
          position: relative;
          top: 1px;
        }
      }
    }

    .menu-items {
      top: 0;
      z-index: 0;
      left: 0;
      padding-left: 10px;
      max-width: 300px;
      a {
        user-select: none;
        padding: 10px;
      }
    }
  }
  .menu-items {
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
  .hamburger-icon {
    height: 50px;
    width: 57px;
    background-color: #c100e7;
    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
    span {
      &:first-child {
        margin-top: 10px;
      }
      margin: auto;
      transition: transform 0.2s ease-in-out;
      border-radius: 3px;
      display: block;
      background-color: white;
      width: 30px;
      height: 6px;
      margin-bottom: 5px;
    }
  }

  .dot-container {
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
  &.sticky-nav:not(.hamburger) {
    position: fixed;
    top: 0;
    margin-top: revert !important;
    width: 100vw !important;
    text-align: center;
    background-color: blueviolet;
    line-height: 60px;
    .dot-container {
      margin-top: -40px;
    }
    .dot {
      transform: translateX(-290px);
    }
  }

  a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 900;
    display: inline-block;

    transition: all 0.2s ease-in-out;
    &:not(:last-of-type) {
      margin-right: 40px;
    }
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    &:hover {
      color: $menu-yellow;
    }
    &:nth-child(1):hover ~ div.dot-container .dot {
      transform: translateX(-290px);
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      opacity: 1;
    }
    &:nth-child(2):hover ~ div.dot-container .dot {
      transform: translateX(-136px);
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      opacity: 1;
    }
    &:nth-child(3):hover ~ div.dot-container .dot {
      transform: translateX(40px);
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      opacity: 1;
    }
    &:nth-child(4):hover ~ div.dot-container .dot {
      transform: translateX(240px);
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      opacity: 1;
    }
  }
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: $menu-yellow;
    border-radius: 50%;
    margin-right: 5px;
    opacity: 0;
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}
