@import "../../variables.styles.scss";
.section {
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 3rem;
  @media (min-width: $breakpoint-extra-extra-large) {
    max-width: 2000px;
    margin: auto;
  }
  @media (max-width: $breakpoint-small) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (max-width: $breakpoint-very-small) {
    padding-left: 35px;
    padding-right: 35px;
  }
  @media (max-width: $breakpoint-large) {
    padding-left: 60px;
    padding-right: 60px;
  }
  .section-text {
    display: inline-block;
    width: 100%;
  }
  .img-container {
    margin-top: 33px;
    margin-left: 10px;
    float: right;
  }
  img {
    width: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    @media (max-width: 720px) {
      width: 200px;
      height: 200px;
    }
    @media (max-width: 450px) {
      width: 150px;
      height: 150px;
    }
    @media (max-width: 350px) {
      width: 100px;
      height: 100px;
    }
  }
  h1 {
    font-size: 42px;
  }
  p {
    font-size: 28px;
  }
}
