$breakpoint-tablet: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;
$breakpoint-extra-extra-large: 2200px;
$breakpoint-small: 576px;

$church-color: rgb(193, 0, 231);
$purple: rgb(193, 0, 231);
$grey: rgb(177, 177, 177);
